@media (max-width: 1024px) {
    nav {
        padding: 10px 8%;
    }
  
    nav img {
        width: 60px;
    }
  
    .navlist li {
        padding: 8px 25px;
    }
  
    .navlist a {
        font-size: 0.9rem;
    }
    
    .home-section .work .cards {
      padding: 35px 0;
      justify-content: space-between;
    }
    .home-section .work .cards .card{
        width: 50%;
    }
    .home-section .work .cards .card h4 {
        font-size: 2.2vw;
      }
      
      .home-section .work .cards .card p {
        font-size: 1.8vw;
      }
  
    footer .row .col:nth-child(2),
    .col:nth-child(3) {
        flex-basis: 35%;
    }
  
    footer .row .col:nth-child(4) {
        flex-basis: 100%;
    }
  }
  
  @media (max-width: 768px) {
    #menu-icon {
        display: block;
    }
  
    .navlist {
        position: absolute;
        top: -600px;
        left: 0;
        right: 0;
        flex-direction: column;
        background: var(--bg-color);
        text-align: right;
        transition: all 0.4s;
    }
  
    .navlist a {
        display: block;
        padding: 1.2rem;
        margin: 1.5rem;
        border-right: 2px solid var(--text-color);
        color: var(--text-color);
    }
  
    .navlist a:hover {
        background: black;
        color: white;
    }
  
    .navlist a::after {
        display: none;
    }
  
    .navlist.active {
        top: 100%;
    }
  
    footer {
          bottom: unset;
        }
        footer .row{
          width: 75%;
        }
        footer .row .col {
          flex-basis: 100%;
        }
        footer .row .col:nth-child(2),
        .col:nth-child(3) {
          flex-basis: 50%;
        }
    .home-section .work .cards {
      padding: 35px 0;
    }
    .home-section .work .cards .card {
      width: 45%;
      padding: 5px 10px;
    }
  
  }
  @media (max-width: 425px) {
    .home-section .work {
      padding: 10% 10%;
    }
    
    .home-section .work h3 {
      font-size: 3vw;
      text-align: center;
      line-height: 150%;
    }
    .home-section .work .cards {
      padding: 20px 0;
      align-items: center;
      flex-direction: column;
    }
    
    .home-section .work .cards .card {
      width: 100%;
      padding: 10px 0;
    }
    
    .home-section .work .cards .card h4 {
      font-size: 4vw;
    }
    
    .home-section .work .cards .card p {
      font-size: 3.5vw;
    }
    
    .home-section .work a,
    .home-section .about .text a {
      font-size: 2.5vw;
    }
    
    .home-section .work a i,
    .home-section .about a i {
      padding-left: 10px;
    }
    footer .row .col:nth-child(2),
        .col:nth-child(3) {
          flex-basis: 100%;
        }
  }