* {
  margin: 0;
  padding: 0;
  font-family: "Bricolage Grotesque", sans-serif;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background: var(--sec-color);
  border-radius: 30px;
}

:root {
  --bg-color: #000000;
  --text-color: #ffffff;
  --main-color: #fca311;
  --fst-color: #14213d;
  --sec-color: #e5e5e5;
}

nav {
  position: sticky;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 0px 10%;
  transition: 0.3s;
  transition: box-shadow 200ms cubic-bezier(0.33, 1, 0.68, 1);
}
nav.active {
  box-shadow: hsla(0 0% 0% / 0.1) 0 0.5rem 1rem;
  transition-duration: 400ms;
}
nav img {
  width: 75px;
}

.navlist {
  display: flex;
  padding: 30px;
}
.navlist li {
  position: relative;
  padding: 10px 40px;
}
.navlist a {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 400;
}

#contact {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 400;
  padding: 10px 40px;
  border: 1px solid var(--text-color);
}
#contact i {
  padding-left: 10px;
}
#menu-icon {
  font-size: 24px;
  color: var(--text-color);
  cursor: pointer;
  display: none;
  position: absolute;
}
#active{
  color: var(--main-color);
}

.home-section {
  background: var(--bg-color);
}

.home-section .home {
  height: fit-content;
  padding: 75px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5% 10%;
}

.home-section .home .text {
  width: 40%;
  font-size: 2.5vw;
  color: var(--text-color);
  line-height: 250%;
}

.home-section .home img {
  width: 35%;
}
section .animate-t,
section .animate-i,
section .animate-l,
section .animate-r {
  transition: 1s;
}
.home-section .home .animate-t {
  transform: translateX(-100%);
  opacity: 0;
}
.home-section .home.show-animate .animate-t {
  transform: translateX(0);
  opacity: 1;
}
.home-section .home .animate-i {
  opacity: 0;
}
.home-section .home.show-animate .animate-i {
  opacity: 1;
}
.home-section .work {
  background: var(--bg-color);
  padding: 5% 10%;
}

.home-section .work h3 {
  font-size: 2vw;
  color: var(--text-color);
}

.home-section .work .cards {
  padding: 70px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
}

.home-section .work .cards .card {
  width: 40%;
  padding: 20px 30px;
}

.home-section .work .cards .card img {
  width: 100%;
  padding: 20px 0;
}

.home-section .work .cards .card h4 {
  font-size: 1.5vw;
  color: var(--text-color);
}

.home-section .work .cards .card p {
  font-size: 1.2vw;
  color: var(--sec-color);
}

.home-section .work a,
.home-section .about .text a {
  font-size: 1rem;
  color: var(--text-color);
  float: right;
}

.home-section .work a i,
.home-section .about a i {
  padding-left: 10px;
}
.home-section .work .animate-t {
  opacity: 0;
}
.home-section .work.show-animate .animate-t {
  opacity: 1;
}

.home-section .work .animate-l {
  transform: translateX(-100%);
  opacity: 0;
}
.home-section .work.show-animate .animate-l {
  transform: translateX(0);
  opacity: 1;
}
.home-section .work .animate-r {
  transform: translateX(100%);
  opacity: 0;
}
.home-section .work.show-animate .animate-r {
  transform: translateX(0);
  opacity: 1;
}
.home-section .about {
  position: relative;
  margin: 2% 0;
}
.home-section .about img {
  width: 100%;
  height: 100%;
}

.home-section .about .text {
  width: 100%;
  position: absolute;
  padding: 0 10%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--text-color);
}

.home-section .about .text h2 {
  font-size: 1.25vw;
  font-weight: 400;
  padding-bottom: 25px;
}

.home-section .about .text h3 {
  font-size: 3vw;
  line-height: 200%;
}
.home-section .about .animate-t {
  opacity: 0;
}
.home-section .about.show-animate .animate-t {
  opacity: 1;
}
.home-section .about .animate-i {
  opacity: 0;
}
.home-section .about.show-animate .animate-i {
  opacity: 1;
}
.blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5% 10%;
}

.blog .card {
  overflow: hidden;
  background: var(--text-color);
  border: 1px solid var(--bg-color);
  border-radius: 0.5rem;
  position: relative;
  width: 350px;
  margin: 1rem;
  transition: 250ms all ease-in-out;
  cursor: pointer;
}

.blog .banner-img {
  position: absolute;
  object-fit: cover;
  height: 14rem;
  width: 100%;
}

.blog .category-tag {
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--text-color);
  padding: 0.5rem 1.3rem 0.5rem 1rem;
  text-transform: uppercase;
  position: absolute;
  z-index: 1;
  top: 1rem;
  border-radius: 0 2rem 2rem 0;
}

.blog .popular {
  background: var(--main-color);
}

.blog .technology {
  background: var(--fst-color);
}

.blog .psychology {
  background: var(--fst-color);
}

.blog .card-body {
  margin: 15rem 1rem 1rem 1rem;
}

.blog .blog-hashtag {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--clr-link);
}

.blog .blog-title {
  line-height: 1.5rem;
  margin: 1rem 0 0.5rem;
  overflow: hidden;
}

.blog .blog-description {
  color: var(--fst-color);
  font-size: 0.9rem;
}

.blog .card-profile {
  display: flex;
  margin-top: 2rem;
  align-items: center;
}

.blog .profile-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.blog .card-profile-info {
  margin-left: 1rem;
}

.blog .profile-name {
  font-size: 1rem;
}

.blog .profile-followers {
  color: var(--clr-gray-med);
  font-size: 0.9rem;
}

.home-section .blog .animate-l {
  transform: translateX(-100px);
  opacity: 0;
}
.home-section .blog.show-animate .animate-l {
  transform: translateX(0);
  opacity: 1;
}
.home-section .blog .animate-r {
  transform: translateX(100px);
  opacity: 0;
}
.home-section .blog.show-animate .animate-r {
  transform: translateX(0);
  opacity: 1;
}
.home-section .blog .animate-i {
  opacity: 0;
}
.home-section .blog.show-animate .animate-i {
  opacity: 1;
}

footer {
  width: 100%;
  position: absolute;
  background: var(--bg-color);
  color: var(--text-color);
  padding: 100px 0 30px;
  font-size: 13px;
  line-height: 20px;
  box-shadow: hsla(0 0% 0% / 0.1) 0 -0.5rem 1rem;
}

footer .row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  justify-content: space-between;
}
footer .row .col {
  flex-basis: 25%;
  padding: 10px;
}
footer .row .col:nth-child(2),
footer .row .col:nth-child(3) {
  flex-basis: 15%;
}
footer .col img {
  width: 50px;
  margin-bottom: 20px;
}
footer .col h3 {
  width: fit-content;
  border-bottom: 2px solid var(--main-color);
  margin-bottom: 25px;
  position: relative;
}
footer .email-id {
  width: fit-content;
  color: var(--text-color);
  font-weight: bold;
  margin: 20px 0;
}
footer ul li {
  list-style: none;
  margin-bottom: 14px;
}
footer ul li a {
  text-decoration: none;
  color: var(--text-color);
}
footer form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--text-color);
  margin-bottom: 50px;
}
footer form .fa-regular {
  color: var(--text-color);
  font-size: 18px;
  margin-right: 10px;
}
footer form input {
  width: 100%;
  background: transparent;
  color: var(--text-color);
  border: 0;
  outline: none;
}
footer form button {
  color: var(--text-color);
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
footer .social-icons .fa-brands {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: var(--bg-color);
  background: var(--text-color);
  margin-right: 15px;
  cursor: pointer;
}
hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid var(--text-color);
  margin: 20px auto;
}
footer .copyright {
  text-align: center;
}
